# Warehouse TSP

In [1]:
from warehousetsp.warehousetsp import Dispatch
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os

In [2]:
grid = np.loadtxt("static/fruteria.csv", delimiter=",", dtype=int)
wos = pd.read_parquet("static/fruit_wos_200.parquet")
wh = pd.read_csv("static/multipick.csv")
# sim = Simulation(wh)

In [3]:
wh

     bin      item  qty
0    346      Abiu    1
1    283      Açaí    1
2     96      Açaí    9
3    347   Acerola    3
4    123     Akebi    8
..   ...       ...  ...
235  286   Pumpkin    5
236   87    Squash    9
237   60    Tomato    9
238  283  Zucchini    3
239  277  Zucchini    8

[240 rows x 3 columns]

In [4]:
wos

                          Name Category  bin
0                   Clementine    Fruit   35
1                     Cucumber    Fruit   87
2                   Star apple    Fruit   31
3                         Sloe    Fruit  347
4                   Clementine    Fruit   35
..                         ...      ...  ...
195                Sugar apple    Fruit  269
196                   Jalapeño    Fruit   87
197  Finger Lime (Caviar Lime)    Fruit  279
198                Mouse melon    Fruit  153
199                Pomegranate    Fruit   39

[200 rows x 3 columns]

In [5]:
wos[1:10]["Name"].to_list()

['Cucumber',
 'Star apple',
 'Sloe',
 'Clementine',
 'Huckleberry',
 'Crab apple',
 'Muskmelon',
 'Pea',
 'Tangelo']

In [8]:
dp = Dispatch(wos, wh)
dp.deplete_max_bins(wos[1:10]["Name"].to_list())

[{'bin': 347, 'item': 'Cucumber'},
 {'bin': 357, 'item': 'Star apple'},
 {'bin': 153, 'item': 'Sloe'},
 {'bin': 357, 'item': 'Clementine'},
 {'bin': 34, 'item': 'Huckleberry'},
 {'bin': 138, 'item': 'Crab apple'},
 {'bin': 123, 'item': 'Muskmelon'},
 {'bin': 339, 'item': 'Pea'},
 {'bin': 349, 'item': 'Tangelo'}]